
.nav__text-wrapper{
    padding-bottom: 0.4rem;
}

.label--primary{
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: .025rem;
}

.caption{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.12rem;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
}

.header--primary{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: 1.05;
    text-transform: upperce;
    letter-spacing: .025rem;
    color: #1b1b1b;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.25rem;
}