.form__layout {
    .form__container {
        .form__header {
            display: inline-block;
            vertical-align: top;

            &--header {
                margin-bottom: 2.5rem;
                display: block;
            }

            &--h1 {
                font-size: 4.25rem;
                letter-spacing: normal;
                font-weight: 500;
                line-height: 1.875;
                max-width: 100%;
                color: #1b1b1b;
                margin: 0;
                -webkit-font-smoothing: antialiased;
            }
        }

        .form__form--layout {
            margin-bottom: 2rem;
            border: 1px solid #dadada;
            padding: 2.5rem;
            display: block;
            width: 100%;
            background-color: #fff;

            .form__form--container {
                width: 100%;

                .form__form--content {}

                .form__row {
                    display: flex;
                    max-width: 60rem;
                    margin-bottom: 2.4rem;


                    .from__row--field {
                        flex-basis: 0;
                        flex-grow: 1;

                        .form__text--field {
                            display: flex;
                            flex-direction: column;
                            transition: color 180ms cubic-bezier(.4, 0, .2, 1);

                            .input__text--wrap {
                                order: 2;
                                display: flex;
                                min-width: 100%;
                                position: relative;

                                &--input {
                                    font-size: 1.6375rem;
                                    padding-right: calc(.5rem + 1px);
                                    padding-left: calc(.5rem + 1px);
                                    min-height: 44px;
                                    color: #1b1b1b;
                                    outline: 0;
                                    border: none;
                                    max-width: 100%;
                                    flex-grow: 1;
                                    background-color: #f5f5f5e7;
                                    border-top: 1px solid transparent;
                                    border-bottom: 1px solid #ababab;
                                    font-style: normal;
                                    line-height: 1.5;
                                    margin: 0;
                                    appearance: none;
                                    border-radius: 0;
                                    flex: 1;
                                    box-shadow: none;
                                    -webkit-tap-highlight-color: transparent;

                                    &::placeholder {
                                        font-weight: 300;
                                        font-size: 1.2rem;
                                    }

                                    &:focus {
                                        outline: 0;
                                        border: 1px solid #378694;
                                        background-color: #fff;
                                    }
                                }
                            }
                        }

                        .form__text--title {
                            display: flex;
                            align-items: baseline;
                            flex-direction: row;
                            order: 1;
                            justify-content: flex-start;

                            .form__text--label {
                                color: #1b1b1b;
                                transition: color 180ms cubic-bezier(.4, 0, .2, 1);
                                margin-bottom: .85rem;
                                display: flex;
                                align-items: baseline;
                                max-width: 100%;

                                &--label {
                                    font-weight: 500;
                                    letter-spacing: normal;
                                    color: #1b1b1b;
                                    font-size: 1.6375rem;
                                    -webkit-font-smoothing: antialiased;
                                    margin: 0;
                                    line-height: 1.25;
                                    text-transform: uppercase;
                                    font-style: normal;

                                    &::after {
                                        content: '\203B';
                                        padding-left: .25rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .form__row__image {
        display: flex;
        max-width: 60rem;
        margin-bottom: 2.4rem;
    }

    .from__row--field__image {
        flex-basis: 0;
        flex-grow: 1;
    }

    .form__text--field__image {
        display: flex;
        flex-direction: column;
        transition: color 180ms cubic-bezier(.4, 0, .2, 1);
    }

    .input__text--wrap__image {
        order: 2;
        display: flex;
        min-width: 100%;
        position: relative;
    }

    .input__text--wrap--input__image {
        font-size: 1.6375rem;
        padding-right: calc(.5rem + 1px);
        padding-left: calc(.5rem + 1px);
        min-height: 44px;
        color: #1b1b1b;
        outline: 0;
        border: none;
        max-width: 100%;
        flex-grow: 1;
        background-color: #f5f5f5e7;
        border-top: 1px solid transparent;
        border-bottom: 1px solid #ababab;
        font-style: normal;
        line-height: 1.5;
        margin: 0;
        appearance: none;
        border-radius: 0;
        flex: 1;
        box-shadow: none;
        -webkit-tap-highlight-color: transparent;

        &::placeholder {
            font-weight: 300;
            font-size: 1.2rem;
        }

        &:focus {
            outline: 0;
            border: 1px solid #378694;
            background-color: #fff;
        }
    }

    .form__text--title__image {
        display: flex;
        align-items: baseline;
        flex-direction: row;
        order: 1;
        justify-content: flex-start;

        .form__text--label__image {
            color: #1b1b1b;
            transition: color 180ms cubic-bezier(.4, 0, .2, 1);
            margin-bottom: .85rem;
            display: flex;
            align-items: baseline;
            max-width: 100%;

            &--label__image {
                font-weight: 500;
                letter-spacing: normal;
                color: #1b1b1b;
                font-size: 1.6375rem;
                -webkit-font-smoothing: antialiased;
                margin: 0;
                line-height: 1.25;
                text-transform: uppercase;
                font-style: normal;

                &::after {
                    content: '\203B';
                    padding-left: .25rem;
                }
            }
        }
    }
}