{% extends "base/base.html" %}
{% block block_body %}

<form action="" method="POST">
    {% csrf_token %}
    <select name="category" id="">
    {% for category in categorys %}
    {% if product.category == category %}
    <option value="{{category.name}}" selected> {{category.name}}</option>
    {% else %}
    <option value="{{category.name}}"> {{category.name}}</option>
    {% endif %}
    {% endfor %}
    {{form.as_p}}
    </select>
    <button type="submit">Submit</button>
</form>
{% endblock %}
