{% extends "base/base.html" %}
{% block block_body %}

<ul class="#productuser">
{% for product in products  %}
    <li>
        <a href="{% url 'appProduct:detailproduct' product.id %}">{{ product.name }}</a>
        <a href="{% url 'appProduct:editproduct' product.id %}" class="btn btn-primary" id="{{product.id}}" >Edit</a>
        <!-- <button class="btn btn-danger edit" data-id= '{{product.id}}'>edit</button> -->
        <button class="btn btn-danger delete" data-id= '{{product.id}}'>delete</button>
    </li>
{% endfor %}
</ul>

{% endblock %}