{% extends "base/base.html" %}
{% block block_body %}

<ul class="d-flex overflow-auto m-0 list-unstyled" style="">
{% for product in products  %}
<li class="ms-3">
    <a href="{% url 'appProduct:detailproduct' product.id %}">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap" style="width:100%;">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{product.recommend}}</p>
              <a onclick="addCart({{ product.id }})"  class="btn btn-primary">Add to card</a>
            </div>
        </div>
    </a>
</li>
{% endfor %}
</ul>

{% endblock %}