{% extends "base/base.html" %}
{% block block_body_not_nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-md">
      <a class="navbar-brand" href="{% url 'home:index' %}">Uniqlo</a>
    </div>
</nav>


<h1 class="text-center mb-4 display-3" style="margin-top: 110px;">Reset Password</h1>

{% if error %}
  <div class="alert alert-warning" role="alert">
    <span>{{ error }}</span> 
</div>
{% endif %}
<form action="" method="POST" class="d-flex flex-column align-items-center">
  {% csrf_token %}
  <div class="mb-3 w-50">
    <label for="id_email" class="form-label">Email</label>
    <input type="email" name="email" autofocus="" required="" id="id_email" class="form-control" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-outline-dark mt-2">Send Email</button>
</form>
   
{% endblock block_body_not_nav%}

