{% extends "base/base.html" %}
{% block block_body %}


<h1 class="text-center mt-5 mb-4 display-3">Change Password</h1>

{% if error %}
  <div class="alert alert-warning" role="alert">
    <span>{{ error }}</span> 
</div>
{% endif %}
<form action="" method="POST" class="d-flex flex-column align-items-center" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="mb-3 w-50">
    <label for="id_password" class="form-label">Password</label>
    <input type="password"  name="new_password1" required="" id="id_new_password1" class="form-control">
  </div>
  <div class="mb-3 w-50">
    <label for="id_password" class="form-label">Password</label>
    <input type="password"  name="new_password2" required="" id="id_new_password2" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Change password</button>
</form>
   
{% endblock %}