.button-primary {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 3.25rem;
    width: 100%;
    max-width: none;
    margin: 0;
    border: none;
    word-wrap: break-word;
    outline: 0;
    overflow: visible;
    transition-property: background-color, color;
    transition-duration: 180ms;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    color: #fff;
}

.button__icon {
    cursor: pointer;
    display: inline-flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    padding: .25rem;
    height: 38px;
    min-width: 44px;
    background: 0 0;
    margin: 0;
    text-decoration: none;
    outline: 0;

    &:focus {
        outline: none;
    }

    &--container {
        position: relative;
        fill: inherit;
    }

    &--sgv {
        display: block;
        fill: inherit;
        width: 1.5rem;
        height: 1.5rem;
        color: #787878;
    }
}

svg:not(:root) {
    overflow: hidden;
}


.section__button {
    margin-bottom: 3.95rem;
    display: flex;

    &--div {
        width: 44%;
        margin: auto;
        display: inline-block;
        vertical-align: top;
    }

    &--link {
        text-decoration: none;
        display: flex;
        padding: 0.8rem;
        background-color: #fff;
        border: 1px solid $color-primary;
        width: 100%;
        cursor: pointer;

        &:hover .section__button--caption {
            color: #212529bb;
        }
    }

    &--link__dark {
        text-decoration: none;
        display: flex;
        padding: 0.8rem;
        background-color: #212529;
        border: 1px solid $color-primary;
        width: 100%;
        cursor: pointer;

        &:hover {
            background-color: #212529d0;
        }
    }

    &--button {
        width: 100%;
        color: var($color-primary);

        &:not(:disabled) {
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }


    &--caption {
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: normal;
        max-width: 100%;
        color: #212529;
        -webkit-font-smoothing: antialiased;
        margin: 0;
        line-height: 1.25;
        text-transform: uppercase;
        font-style: normal;
        vertical-align: inherit;
    }

    &--caption--light {
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: normal;
        max-width: 100%;
        color: #fff;
        -webkit-font-smoothing: antialiased;
        margin: 0;
        line-height: 1.25;
        text-transform: uppercase;
        font-style: normal;
        vertical-align: inherit;
    }
}



.button--secondary {
    display: block;
    cursor: pointer;
    background-color: #fff;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    // padding: 0 2rem;
    height: 4.625rem;
    width: 100%;
    max-width: none;
    margin: 0;
    border: none;
    outline: 0;
    overflow: visible;
    transition-property: background-color, color;
    transition-duration: 180ms;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    color: #fff;

    &:not(:disabled) {
        cursor: pointer;
    }

    &:hover {}

    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition-property: border-color;
        transition-duration: 180ms;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    }

    &--label {
        margin: 0;
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: normal;
        max-width: 100%;
        // color: #fff;
        -webkit-font-smoothing: antialiased;
        margin: 0;
        line-height: 1.25;
        text-transform: uppercase;
        font-style: normal;
    }
}

.button--primary--red {
    background-color: $color-red;
    color: #fff;

    &:hover {
        background-color: #ff5959;
    }
    &:disabled{
        background-color: #ff5959e8!important;
    }
}


.button--secondary--light {
    border: 1px solid #212529;
    color: #212529;

    &:hover {
        border: 1px solid #212529cb;
        color: #212529cb;
    }
}


.button--third {
    width: 50%;
    margin-bottom: 8px;
    font-size: 13px;
    letter-spacing: normal;
    line-height: 1.5;

    .button--third--button {
        line-height: 1.2;
        border: 1px solid black;
        cursor: pointer;
        display: block;
        min-height: 45px;
        padding: 0.5em 0.25em;
        text-align: center;
        text-decoration: none;
        width: 100%;
        font-size: 18px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        font-stretch: normal;
        font-style: normal;
        font-weight: 400;
        overflow: visible;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
        background: #1b1b1b;
        border-color: #1b1b1b;
        color: #fff;
        &:hover{
            opacity: 0.9;
        }
    }
}