{% extends "base/base.html" %}
{% block block_body %}
{% load static %}
<h3>{{userInfo.user.username}}</h3>
<h3>{{userInfo.first_name}} {{userInfo.last_name}}</h3>
<h3>{{userInfo.birth_date}}</h3>
<h3>{{userInfo.site}}</h3>
{% if userInfo.avatar %}
<img src="{{userInfo.avatar.url}}" alt=""  class="img-thumbnail">
{% endif %}
<a href="{% url 'appUser:editInfo' %}" class="btn btn-primary">Edit Info</a>
<a href="{% url 'change_password' %}" class="btn btn-primary">change password</a>
<a href="{% url 'password_reset' %}"  class="btn btn-primary" >password reset</a>

{% endblock %}


